<%- include("partials/header") %>

    <div class="container" style="text-align: center">
        <div class="row">

            <div>
                <h1>
                    <%= blog.title %>
                </h1>
                <img src="<%= blog.image %> " alt="image">
                <!-- <%= blog.created %> -->
                <p>
                    <%= blog.body%>...
                </p>
            </div>
            <div>
                <!-- <a href="/blogs/<%= blog._id%>/edit"> Edit Post</a> -->
                <form action="/blogs/<%= blog._id %>/edit" method="get">
                    <h4><button class="btn btn-lg btn-primary btn-block">Edit</button></h4>
                </form>
                <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <h4><button class="btn btn-lg btn-primary btn-block">Delete</button></h4>
                </form>
            </div>
            <%- include("partials/footer") %>