<%- include("partials/header") %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to TravelTheUnknown !</h1>
                <p>Places that you must visit once in a lifetime.</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/places/new"> Add New Place.</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% for(let i=0;i<visit.length;i++){ %>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= visit[i].image %>" alt="image">
                        <div class="caption">
                            <h4>
                                <%= visit[i].name %>
                            </h4>
                        </div>
                        <p>
                            <a href="/places/<%= visit[i]._id %> " class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <%- include("partials/footer") %>