<%- include("partials/header") %>
    <h1>
        <%= place.name %>
    </h1>

    <div>
        <img src="<%= place.image %> " alt="Nature">
    </div>
    <div>
        <p>
            <strong><%= place.desc %></strong>
        </p>
    </div>
    <%- include("partials/footer") %>